h1{
    text-align: center;
}
h2{
    text-align: center;
}
a {
color: dodgerblue;
}
fieldset{
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/04/15/background-with-dog-paw-print-and-bone-vector-1360415.jpg");
}
form{
    text-align: center;
}