body{
    position: center;
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/04/15/background-with-dog-paw-print-and-bone-vector-1360415.jpg");
    height:auto;
    width:auto;
    padding: 150px;
}
